  <div class="row content-tittle">
    <h1>Cursos</h1>
  </div>
  <div class="row content-body">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="../../assets/fullstack.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Fullstack</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted"><a class="onBoard-button" href="#">Inscribirse</a> </small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/programacion-web-para-cuando-el-html5.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Programación Web</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted"><a class="onBoard-button" href="#">Inscribirse</a> </small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/ux_ui.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">UX / UI</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted"><a class="onBoard-button" href="#">Inscribirse</a> </small></p>
        </div>
      </div>
    </div>
  </div>

