.navbar-wrapper{
  padding-top: 1.5rem;
  height: 100%;
  max-width: 75%;
  background-color: #212529;
}

.nav-pills{
  text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #dae200;
  color: #060700;

}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #dae200;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
}
